---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Us">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title mb-0">About Us</h4>
        </div>
        <div class="card-body">
            <p>We are a team of developers who are passionate about creating beautiful and functional websites.</p>
        </div>
    </div>
</Layout>