---
import { SCORE_API_ENDPOINT } from 'astro:env/server';

const res = await fetch(SCORE_API_ENDPOINT);
const score = await res.text();

---
<span class="badge bg-secondary rounded-pill" id="score">
    ⭐️ Puntuacion: {score.trim()}/5
</span>